{{ user_query }}
{% if user_asked_utc %}
User asked question at UTC time: {{ user_asked_utc }}
{% endif %}

{% if text_sources is defined and text_sources %}

Sources:

{% for text_source in text_sources %}
{{ text_source }}

{% endfor %}
{% endif %}
