engine-strict=true
fund=false
# Required because react-helmet-async declares peer deps for @types/react <19.0.0,
# but works fine with React 19. See https://github.com/staylor/react-helmet-async/issues/238
legacy-peer-deps=true
