engine-strict=true
fund=false
# Required because @fluentui/react v8 declares peer deps for React 17/18,
# but works fine with React 19. See https://github.com/microsoft/fluentui/issues/34768
legacy-peer-deps=true
