.conversationNavList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    flex: 1;
    justify-content: center;
    padding-top: 10px;
}

.conversation {
    word-break: break-word;
    background: #dbdbdb;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 1px;
    cursor: pointer;
    width: 300px;
    height: 60px;
}

.conversation:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);
}

.conversationText {
    margin: 0;
    font-size: 12px;
}
.conversationHeader {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.conversationWrapper {
    padding-left: 10px;
    padding-top: 10px;
}

@media only screen and (max-height: 780px) {
    .conversationText {
        font-size: 12px;
    }
}
.deleteButton {
    padding-top: 10px;
    margin-right: 7px;
}
