.evalItemContainer {
    margin: 1rem auto;
    width: 70vw;
    padding: 20px;
    background: rgb(249, 249, 249);
    border-radius: 8px;
    box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: transparent solid 1px;
    display: sticky;
}

.evalItemContainerAlt {
    margin: 1rem auto;
    width: 70vw;
    padding: 20px;
    background: rgb(249, 249, 249);
    border-radius: 8px;
    box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: transparent solid 1px;
    display: sticky;
    background-color: #ff000017;
    border: 2px solid #ff00002a;
}

.evalItem {
    display: grid;
    grid-template-areas: "question metrics";
    column-gap: 2rem;
    grid-row-gap: 1px;
    grid-template-columns: auto 10rem;
    align-content: start;
}

.evalItem:hover {
    cursor: pointer;
}

.detailsButton {
    margin-right: 0;
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 14px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgba(115, 118, 225, 1);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.evalItem span {
    /* align-items: center; */
    margin-left: auto;
    margin-right: 1rem;
    font-weight: bold;
    align-content: center;
}

.questionContainer {
    grid-area: question;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
    justify-content: left;
}

.metricsContainer {
    grid-area: metrics;
    grid-template-areas:
        "groundedness"
        "relevance"
        "coherence"
        "similarity";
    align-self: center;
}

.metricGridElem {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1rem);
    text-align: right;
}

.metricGridElem span {
    justify-self: right;
    font-weight: 600;
    margin-right: 1rem;
}

.evalItemDetailsButton {
    margin-right: 0;
    margin-left: auto;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    display: block;
    font-size: 12px;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgba(115, 118, 225, 1);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.evalItemDetailed {
    display: grid;
    column-gap: 2rem;
    grid-row-gap: 1px;
    align-content: start;
    margin-top: 1rem;
}

.evalItemDetailedTextContainer {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.evalItemDetailedTextContainer span {
    font-weight: bold;
    text-align: end;
}

.evalItemDetailedTextContainer p {
    margin: 0;
}

.metricsDetailedContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 1rem;
}

/* .evalItemDetailed span {
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
    font-weight: bold;
    align-content: center;
} */
