exclude: '^tests/snapshots/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.289
    hooks:
    -   id: ruff
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
