-r app/backend/requirements.txt
ruff>=0.14.2
black>=26.1.0
pytest
pytest-asyncio
pytest-snapshot
coverage
playwright
pytest-cov
pytest-playwright
pytest-snapshot
pre-commit
pip-tools
ty>=0.0.11
diff_cover
axe-playwright-python
