-r app/backend/requirements.txt
ruff>=0.14.2
black
pytest
pytest-asyncio
pytest-snapshot
coverage
playwright
pytest-cov
pytest-playwright
pytest-snapshot
pre-commit
pip-tools
mypy==1.14.1
diff_cover
axe-playwright-python
