.container {
    display: flex;
    margin-bottom: 1.25rem;
    max-width: 80%;
    margin-left: auto;
}

.message {
    padding: 1.25rem;
    background: #d7c5d0;
    border-radius: 0.5rem;
    box-shadow:
        0px 0.125rem 0.25rem rgba(0, 0, 0, 0.14),
        0px 0px 0.125rem rgba(0, 0, 0, 0.12);
    outline: transparent solid 0.0625rem;
}

@media only screen and (max-width: 48rem) {
    .container {
        max-width: 95%;
        margin-bottom: 1rem;
    }

    .message {
        padding: 1rem;
        border-radius: 0.375rem;
    }
}

@media only screen and (max-width: 30rem) {
    .message {
        padding: 0.75rem;
    }
}
