.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.summarizeContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    height: 88vh;
    background: linear-gradient(rgba(115, 118, 225, 1), rgba(115, 118, 225, 1)) center/2px 100% no-repeat;
}

.citationContainer {
    padding: 1rem;
}

.textContainer {
    display: grid;
    place-items: center;
    margin: 1rem;
}

.askTitle {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.summarizeAnswer {
    margin: 1rem;
}

.askQuestionInput {
    justify-self: end;
}
