.container {
    margin: 0 auto;
    padding: 80px 112px;
    min-height: calc(100vh - 136px);
}

.dFlexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 36px 0 24px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.dNone {
    display: none;
}

.attributes {
    gap:4px;
    color: #0078D7;
    font-size: 16px;
    margin-top: 28px;
    cursor: pointer;
}

.attributes span{
    color: #0078D7;
}

/*TODO pantalla de chat*/
.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}
