.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #0F0F0F;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}

    .player iframe {
        height: 100%;
        width: 100%;
    }
