.uploadContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.uploadFiles {
    margin: 20px;
    margin-top: 80px;
}
.uploadProgress {
    width: 100%;
    background-color: #b9b9b9;
}
.uploadBar {
    width: 1%;
    height: 25px;
    background-color: #2f341f;
}
