.uploadContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.uploadFileUploader {
    margin-top: 100px;
}
.uploadFileUploader > label {
    padding: 100px;
}
