.container {
    margin: 0 auto;
    padding: 80px 112px;
    min-height: calc(100vh - 136px);
}

h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 36px 0 24px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.dFlexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}