.downloadButton {
    position: relative;
    float: right;
}

.markdownViewer {
    border-radius: 0.5em; /* 8px / 16px = 0.5em */
    box-shadow:
        #0000000d 0 0 0 0.0625em, /* 1px / 16px = 0.0625em */
        #0000001a 0 0.125em 0.1875em; /* 2px and 3px / 16px */
    background-color: white;
    margin: 1.25em 0; /* 20px / 16px = 1.25em */
}

.loading {
    padding: 6.25em; /* 100px / 16px = 6.25em */
    height: 100vh;
    background-color: white;
}

.error {
    height: 100vh;
    background-color: white;
}

.markdown {
    padding: 1.875em; /* 30px / 16px = 1.875em */
}

table {
    border-collapse: collapse;
}

th, td {
    border: 0.0625em solid #ddd; /* 1px / 16px = 0.0625em */
    padding: 0.5em; /* 8px / 16px = 0.5em */
}

tr:nth-child(even) {
    background-color: #f6f8fa;
}

code {
    display: block;
    font-family: monospace;
    padding: 0.625em; /* 10px / 16px = 0.625em */
    background-color: #f6f8fa;
}
