azure-identity
quart
quart-cors
openai[datalib]>=1.3.7
tiktoken
tenacity
azure-ai-documentintelligence
azure-cognitiveservices-speech
azure-search-documents==11.6.0b1
azure-storage-blob
azure-storage-file-datalake
uvicorn
aiohttp
azure-monitor-opentelemetry
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-openai
msal
cryptography
python-jose[cryptography]
types-python-jose
Pillow
types-Pillow
pypdf
PyMuPDF
beautifulsoup4
types-beautifulsoup4
msgraph-sdk==1.1.0
openai-messages-token-helper
