azure-identity
quart
quart-cors
openai[datalib]==0.28.1
tiktoken
azure-search-documents==11.4.0b6
azure-storage-blob
uvicorn
aiohttp
azure-monitor-opentelemetry
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
msal
msal-extensions
