azure-identity==1.13.0
Flask==2.2.5
langchain==0.0.187
openai==0.27.8
tiktoken==0.3.0
azure-search-documents==11.4.0b3
azure-storage-blob==12.14.1
opencensus-ext-requests==0.8.0
opencensus==0.11.2
opencensus-ext-azure==1.1.9
opencensus-ext-gevent==0.1.0
azure-monitor-opentelemetry --pre
azure-monitor-opentelemetry==1.0.0b13
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-wsgi
opentelemetry-sdk==1.17.0
