.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 350px;
    transform: translateY(100px);
    padding-inline: 20px;
    border: 3px solid #409ece;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.inputColumn {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-bottom: 20px;
    gap: 10px;
}
.stateColumnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.stateColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
