.container {
    padding: 5px 5px 5px 10px;
}

.projects {
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    gap: 15px;
}

.inputColumn.edit {
    width: 300px;
    height: 150px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.passwordInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
/* 
input[type="file"] {
    display: none;
  } */

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #409ece;
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    height: 120px;
    cursor: pointer;
    /* overflow: hidden; */
}

.accordionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    gap: 10px;
    border: 1px solid #409ece;
    border-radius: 5px;
    cursor: pointer;
    overflow-x: auto;
}


.fileUploadText{
    font-size: 10px;
}
