azure-functions>=1.21.3,<2.0.0
azure-identity
azure-core
azure-storage-blob
azure-storage-file-datalake
azure-search-documents==11.7.0b1
azure-ai-documentintelligence==1.0.0b4
typing-extensions
beautifulsoup4
pillow
PyMuPDF
pypdf
tenacity
rich
