pypdf
aiohttp
azure-identity
azure-search-documents==11.6.0b1
azure-ai-formrecognizer
azure-storage-blob
azure-storage-file-datalake
openai[datalib]>=1.3.5
tiktoken
tenacity
azure-keyvault-secrets
Pillow
PyMuPDF
types-Pillow
cryptography
python-jose[cryptography]
