pypdf
aiohttp
azure-identity
./azure_search_documents-11.4.0b12-py3-none-any.whl
azure-ai-formrecognizer
azure-storage-blob
azure-storage-file-datalake
openai[datalib]>=1.3.5
tiktoken
tenacity
azure-keyvault-secrets
Pillow
PyMuPDF
types-Pillow
