.documentsSelect {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-row-gap: 2rem;
    background: linear-gradient(rgba(115, 118, 225, 1), rgba(115, 118, 225, 1)) center/2px 100% no-repeat;
    margin-top: 10rem;
}

.docUploadButton {
    margin: auto auto;
    display: block;
    font-size: 22px;
    padding: 0.5em 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgba(115, 118, 225, 1);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: solid 1px rgba(115, 118, 225, 1);
}

.docUploadButton:hover {
    cursor: pointer;
    background-color: transparent;
    color: rgba(115, 118, 225, 1);
    border: solid 1px rgba(115, 118, 225, 1);
    transition: all 0.3s ease;
}

.documentSelect {
    display: grid;
    grid-row-gap: 2rem;
    justify-content: center;
    align-content: center;
}

.document {
    font-size: 24px;
    font-weight: 600;
    border: transparent;
    /* color: rgba(115, 118, 225, 1); */
}

.document:hover {
    color: rgba(115, 118, 225, 1);
    cursor: pointer;
}

.documentSelect h1 {
    display: grid;
    justify-content: center;
    align-content: center;
}
