.settingsButton {
    margin: 0;
    padding: 0;
    color: #49454f !important;
    font-size: 16px;
    display: flex !important;
    align-items: center;
}

.settingsButton:hover {
    color: #49454f !important;
}
