.answerContainer {
    padding: 1.25rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow:
        0px 0.125rem 0.25rem rgba(0, 0, 0, 0.14),
        0px 0px 0.125rem rgba(0, 0, 0, 0.12);
    outline: transparent solid 0.0625rem;
}

.explanationText {
    font-weight: bold;
}

.answerLogo {
    font-size: 1.75rem;
}

.answerText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: pre-line;
    direction: rtl;
}

.answerText table {
    border-collapse: collapse;
}

.answerText td,
.answerText th {
    border: 0.0625rem solid;
    padding: 0.3125rem;
}

.selected {
    outline: 0.125rem solid rgba(115, 118, 225, 1);
}

.citationLearnMore {
    margin-right: 0.3125rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.citation {
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration: none;
    cursor: pointer;
}

.citation:hover {
    text-decoration: underline;
}

.followupQuestionsList {
    margin-top: 0.625rem;
}

.followupQuestionLearnMore {
    margin-right: 0.3125rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.followupQuestion {
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background: #e8ebfa;
    color: black;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.supContainer {
    text-decoration: none;
    cursor: pointer;
}

.supContainer:hover {
    text-decoration: underline;
}

sup {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625rem;
    font-weight: 600;
    vertical-align: top;
    top: -0.0625rem;
    margin: 0 0.125rem;
    min-width: 0.875rem;
    height: 0.875rem;
    border-radius: 0.1875rem;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration-color: transparent;
    outline: transparent solid 0.0625rem;
    cursor: pointer;
}

.retryButton {
    width: fit-content;
}

@keyframes loading {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.loadingdots::after {
    content: "";
    animation: loading 1s infinite;
}

.videoContainer {
    display: flex;
}

.videoContainer iframe {
    width: 100%;
}

@media only screen and (max-width: 48rem) {
    .answerContainer {
        padding: 1rem;
    }

    .answerLogo {
        font-size: 1.5rem;
    }

    .answerText {
        font-size: 0.875rem;
        line-height: 1.1rem;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
    }

    .answerText td,
    .answerText th {
        padding: 0.25rem;
    }

    .followupQuestionsList {
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 30rem) {
    .answerText {
        font-size: 0.75rem;
        line-height: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .answerText td,
    .answerText th {
        padding: 0.2rem;
    }
}
