.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 500px;
    background-color: #f0f0f0;
    padding: 20px;
}

.headerTitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.navLink {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.navLink:hover,
.navLink:focus {
    background-color: #ccc;
}

.activeNavLink {
    background-color: #ccc;
    font-weight: bold;
}

.footerText {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.outlet {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}
