name: Validate Markdown

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.md'

jobs:
  lint-markdown:
    name: Check for Markdown linting errors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Run markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: .markdownlint-cli2.jsonc
          globs: |
            **/*.md
            !data/**
            !.github/**
