name: Validate Markdown

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.md'

jobs:
  lint-markdown:
    name: Check for Markdown linting errors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Run markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: .github/workflows/markdownlint-config.json
          globs: |
            **/*.md
            !data/**
